#fullname {
    font-size: 185%;
    font-weight: bold;
    text-decoration-style: solid;
}

a {
    color:black;
    text-decoration: none;
}
a:link {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration:underline;
}

