<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Michal D." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>My page</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
    <!--<script src="js/main.js"></script>-->

</head>
<body>
    <div class="container">
        <div class ="col-sm-3">
            <div class="row">
                <div class="col-xm-4">
                    <div class="classWithPad">
                        <p id="fullname" th:text="${user.getName()} + ' ' + ${user.getSurname()}"></p>
                        <div class="aligner">
                            <img id="avatar" src="http://i.imgur.com/bTYUjJo.jpg">
                        </div>
                        <p></p>
                        <div id="personal-data">
                            <p th:text="'City: '+ ${user.getAddress()}">City: </p>
                            <p th:text="'Age: '+ ${user.getAge()}">Age: </p>
                            <p th:text="'Phone No. ' + ${user.getPhone()}">Phone No. </p>
                            <p th:text="'Email: ' + ${user.getEmail()}">Email: </p>
                        </div>
                    </div>
                </div>
                <div class="col-xm-8">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Experience<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/experience/view">View past experience</a></li>
                                <li><a href="/experience/add">Add new experience</a></li>
                                <li><a href="/experience/remove">Remove past experience</a></li>
                                <li><a href="/experience/update">Update past experience</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Education<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/education/view">View past education</a></li>
                                <li><a href="/education/add">Add new school/course</a></li>
                                <li><a href="/education/remove">Remove school/course</a></li>
                                <li><a href="/education/update">Update school/course</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Skills, Technologies, Interests<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/skills" class="menulink">Skills, certificates and technologies</a></li>
                                <li><a href="interests" class="menulink">Interests</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/"><button class="btn btn-primary btn-md">Main page</button></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class ="col-sm-9">
            <div class="row">
                <div class="col-md-12 page-header">
                    <h1><span th:text="'Add '+ ${fieldName}">Title</span>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xm-12">
                    <form method="POST">
                        <p>Name: <input type="text" name="new_name" required /></p>
                        <p> Description <input type="text" name="new_description" required /></p>
                        <p>Date from: <input type="date" name="new_date_from" required /></p>
                        <p>Date to: <input type="date" name="new_date_to" required /></p>
                        <input hidden name="new_user_id" th:value="${user.getId()}">
                        <input type="submit" class="btn btn-primary btn-md" value="Add">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>